.banner {
    background-image: url(../images/coverformy-web\ \(Banner\ Landscape\).png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;



}
h2 {
    text-align: center;
    color:#2e5e2e;
    font-size: 35px;
}

.info-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 40px 10%;
    gap: 20px;
    background-color: #fbfaf8;


}
