.banner {
    background-image: url(../images/coverformy-web.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;

}

    